@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Inter&family=Poppins:wght@300&display=swap');


.search{
    margin-top:5vh;
    align-items: center;
    margin-left: 5vw;
    margin-right: 4vw;
}

.searchInput{
    background-color: #1E1E1E;
    color:#FFFF;
    padding-left: 2vw;
    width: 89vw;
    height: 8vh;
    border: 1px solid #FFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-overflow: ellipsis;
    padding-bottom: 5vh;
    display: flex;
    
} 